* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Primary colors */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /* Font colors */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    --Font-size: 15px;
}

body {
    /* background-color: var(--Very-light-gray); */
    background-image: linear-gradient(to right top,
    #051937,rgb(0, 198, 198), #ABEB12);
    background-size: 400%;
    animation: background-animation 10s linear alternate infinite;
    font-size: var(--Font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding: 15px 0px;
}

@keyframes background-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.attribution {
    text-align: center;
    margin-top: 3rem;
}
.attribution a {
    color: var(--Transparent-white);
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(700px, 80%);
    gap: 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 45px 45px;
}

.card:nth-child(1) {
    background-color: var(--Bright-orange);
}

.card:nth-child(2) {
    background-color: var(--Dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--Very-dark-cyan);
}

.card-title {
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.card p {
    color: var(--Transparent-white);
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
}

.learn-more {
    padding: 10px 20px;
    background-color: var(--Very-light-gray);
    border-radius: 900px;
    text-decoration: none;
    font-family: inherit;
    font-size: .9rem;
    transition: all .5s;
}

.learn-more:hover {
    transform: scale(1.1);
    background-color: #a7ea0c;
}

.card:nth-child(1) > .learn-more {
    color: var(--Bright-orange);
}

.card:nth-child(2) > .learn-more{
    color: var(--Dark-cyan);
}

.card:nth-child(3) > .learn-more{
    color: var(--Very-dark-cyan);
}

@media (min-width: 900px) {
    .flex-container {
        flex-direction: row;
    }
}